<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="telephone=no" name="format-detection" />
    <title>卡卡小说</title>
    <link rel="stylesheet" href="/secondlevel_account/prd/styles/secondAcount/index@ver.css" />
</head>
<body>
    <div id="app" :class="[deviceCls,navCls]" v-touch.canrepeat="onBodyClick">
        <ui-android-status-bar v-if="isImmersive"
                               :height="statusBarHeight"
                               :background="statusBarBackground"
        ></ui-android-status-bar>
        <ui-font-style></ui-font-style>
        <ui-loading :showloading="showloading" :text="loadingtext"></ui-loading>
        <ui-dialog
            :showdialog="dialogOption.showdialog"
            :title="dialogOption.dialogTitle"
            :msg="dialogOption.msg"
            :btntext="dialogOption.btntext"
            :extbtntext="dialogOption.extbtntext"
            @closedialog="dialogBtnClick"
            @extBtnClick="extBtnClick"
        ></ui-dialog>
        <ui-mask v-if="showMask"></ui-mask>
        <ui-tip :tip-option="tipOption"></ui-tip>
        <transition name="popup" mode="out-in">
            <ui-keyboard v-if="keyboardOptions.show" @keyclick="onKeyboardClick" :type="keyboardOptions.type" :config="keyboardOptions.config"></ui-keyboard>
        </transition>
        <!--<ui-toast :toastOptions="toastOptions"></ui-toast>-->
        <transition :name="transitionName" mode="in-out">
            <router-view class="child-view"></router-view>
        </transition>
    </div>
    <script src="/secondlevel_account/prd/manifest@ver.js"></script>
    <script src="/secondlevel_account/prd/lib@ver.js"></script>
    <script src="/secondlevel_account/prd/scripts/secondAcount/app@ver.js"></script>
</body>

</html>