.home-page
    .content
        .slider-wrapper
            padding px2rem(8)
            .dots
                bottom: px2rem(5)
                .dot
                    &.active
                        background: #EA444F
        .search-wrapper
            padding 0 px2rem(8)
            .search
                height px2rem(30)
                line-height: px2rem(30)
                background: #fff
                border-radius: 4px
                text-align: center
                color #bbb
                .iconfont
                    font-size: px2rem(14)
                    font-weight: bold